<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fred Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>🚀 Sabago Automation</h1>

        <label>Target URL</label>
        <input type="text" id="url" value="https://www.luckywin.com.gh/login">

        <label>Upload Numbers File (any name)</label>
        <input type="file" id="file" accept=".txt">

        <button id="start">Start Automation</button>
        <button id="stop">Stop</button>

        <h3>Status</h3>
        <div class="status" id="status">Ready</div>

        <h3>Progress</h3>
        <div class="progress">
            <div class="bar" id="progressBar"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>